/*authors: Valentina Caldana
Responsive in Chrome for Windows (Browser zoom =< 80% )*/


body {
  /* only background-image*/
  background-image: url("/image/game_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height:100%;
  
  /* for all text in body */
  font-family: Century Gothic, Verdana, sans-serif;
  color: black; 
}

@media (max-width: 1900px) {
	body{
overflow-x: scroll;
overflow-y: hidden;
	}	
}

.display-area{
	width: 300px;
	height: 460px;
	background-color:rgba(128,128,128,0.3);
	border: solid 3px black;
	border-radius:20px;
	
	/*position relative to its parent
	(in this case "body")*/
	position: absolute; 
	top:9%;
	left: 9%;
	
}

@media (max-width: 1900px) {
 .display-area{
	top: 4%;
	left: 2%;
	}
}

.display-area .displayed-card{
	width:220px;
	height: 340px;
	margin:34px; /* border space */
	border-radius: 10px;
	border: solid 3px black;
	
	/*only card picture*/
	background-image: url("/image/backside_cards.png"); 
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
}

.display-area .make-move{
	width:220px;
	height: 50px;
	margin:35px; /* border space of hand */
	font-size: 15px;
	font-weight: bold; 
	border-radius: 30px;
	border: solid 3px black;
	background-color: white;
	
	/*position relative to its parent
	(in this case display-area")*/
	position: absolute; 
	top: 360px;
}

.display-area .make-move:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hand{
	width: 1370px;
	height: 300px;
	border: solid 3px black;
	border-radius:20px;
	background-color:rgba(128,128,128,0.3);
	
	/*position relative to its parent
	(in this case body")*/
	position: absolute; 
	top:64%;
	left: 9%;

}


@media (max-width: 1900px) {
.hand{
left: 2%;
	}	
}

.hand .card{
	width:150px;
	height: 230px;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: solid 3px black;
		
	/*only card image*/
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
 	
 	/*position relative to its parent
	(in this case hand")*/
 	position: absolute;

}

 .hand .card:hover {
    transform: translateY(-20px);
 }

.pointStack{
	width:150px;
	height: 230px;
	border-radius: 10px;
	border: solid 3px black;
	
	/*only card image*/
	background-image: url("/image/backside_cards.png");
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
 	
 	/*position relative to its parent
	(in this case body")*/
 	position: absolute;
 	top:51%;
	right: 12%;
}

@media (max-width: 1900px) {
 .pointStack{
top:33%;
right: 25%;
	}
}

.pointStackTitle{
	width:150px;
	height: 43px;
	border-radius: 10px;
	border: solid 3px black;
	background-color: white;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	
	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top:73%;
	right: 12%;
}

@media (max-width: 1900px) {
 .pointStackTitle{
top:55%;
right: 25%;
	}
}


.depositStack{
	width:150px;
	height: 230px;
	border-radius: 10px;
	border: solid 3px black;
	
	/*only card image*/
	background-image: url("/image/backside_cards.png");
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
 	
 	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top:51%;
	right: 4%;
}

@media (max-width: 1900px) {
 .depositStack{
top:33%;
right: 9%;
	}
}

.depositStackTitle{
	width:150px;
	height: 43px;
	border-radius: 10px;
	border: solid 3px black;
	background-color: white;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	
	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top:73%;
	right: 4%;
}

@media (max-width: 1900px) {
 .depositStackTitle{
top: 55%;
right: 9%;
	}
}

.deck{
	width:150px;
	height: 230px;
	border-radius: 10px;
	border: solid 3px black;

	
	/*only card image*/
	background-image: url("/image/backside_cards.png");
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
 	
 	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top:12%;
	right: 4%;
}

@media (max-width: 1900px) {
 .deck{
top: 4%;
right: 9%;
	}
}

.deckTitle{
	width:150px;
	height: 43px;
	border-radius: 10px;
	border: solid 3px black;
	background-color: white;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	
	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top: 34%;
	right: 4%;
}

@media (max-width: 1900px) {
 .deckTitle{
top: 26%;
right: 9%;
	}
}

.revealedCard{
	width:150px;
	height: 230px;
	border-radius: 10px;
	border: dashed 3px black;
	position: absolute;
	background-color: grey;

	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top:12%;
	right: 12%;
}

@media (max-width: 1900px) {
 .revealedCard{
	top:4%;
	right: 25%;
	}
}

.oponentsCard{
	width:220px;
	height: 340px; 
	border-radius: 10px;
	border: solid 3px black;
	background-color: grey;	

	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top:12%;
	left:40%; 
}

@media (max-width: 1900px) {
 .oponentsCard{
top:4%;
left: 35%;

	}
}

.oponentsCardTitle{
	width:220px;
	height: 43px;
	border-radius: 10px;
	border: solid 3px black;
	background-color: white;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	
	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top:43%;
	left:40%;
}

@media (max-width: 1900px) {
 .oponentsCardTitle{
top:36%;
left: 35%;
	}
}

.exitBtn {
	width:220px;
	height: 70px;
	font-size: 18px;
	font-weight: bold; 
	border-radius: 50px;
	border: solid 3px black;
	color: white;
	background-color: #c0392b;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	
	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top: 85%;
	right: 6%;
}

@media (max-width: 1900px) {
 .exitBtn{
top:92%;
left: 50%;

	}
}

.exitBtn:hover{
	  box-shadow: none;
	  cursor: pointer;
}

/*Button for Modal*/
.helpButton{
	background-color: white;
 	height:43px;
	width: 43px;
	border: 3px solid black;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;	
	
	/*position relative to its parent
	(in this case body")*/
	position: absolute;
	top:5%;
	right: 4%;
	
}

@media (max-width: 1900px) {
 .helpButton{
top: 4%;
right: 3%;

	}
}

.helpButton:hover{
	  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	  cursor: pointer;
}

.modal{
	display: none;
	z-index: 14;
	
	height:100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.4); /*behind modal*/
	
	position: fixed;
	top:0%;
	left:0%;
}

.modal .content{
	overflow-y:scroll;
	max-height: 800px;
	max-width: 780px;
	margin: 2% auto; /*modal position (15% from the top and centered)*/
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.modal .content .img-rules{
	width: 730px;
	height: 2100px;
	background-image: url("/image/rules.png");
 	background-position: center;
 	background-size: cover;
  	background-repeat: no-repeat;  
  	border-radius: 10px;
}

.content .close{
	color: #ccc;
	float: right;
	font-size: 30px;
	font-weight: bold;
}

.content .close:hover,
.close:focus{
	color: #000;
	text-decoration:none;
	cursor: pointer;
}	

