/*	authors: Valentina Caldana*/




body {
	
  /* only background-image (table) */
  background-image: url("/image/game_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  
  /* for all text in body */
  font-family: Century Gothic, Verdana, sans-serif;
  color: black; 
  font-size: 11px;
  
  
  
}

@media (max-width: 1900px) {
body{
overflow-x: scroll;
	}	
}

.display-area{
	width: 300px;
	height: 460px;
	position: absolute; /*to overlap elements*/
	background-color:rgba(128,128,128,0.3);
	border: solid 3px black;
	border-radius:20px;
	
	/*position on screen*/
	top:100px;
	left: 38%;
	margin: 0 0 0 -700px; /* left = -700px */
}

@media (max-width: 1900px) {
 .display-area{
top:44px;
left: 60%;
	}
}

.displayed-card{
	width:220px;
	height: 340px;
	margin:34px; /* border space */
	border-radius: 10px;
	border: solid 3px black;
	position: absolute; /*to overlap elements*/
	
	/*only card picture*/
	background-image: url("/image/backside_cards.png"); /*TEMPORÄR ZU TESTZWECKEN*/
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
}

.make-move{
	width:220px;
	height: 50px;
	top: 360px;
	margin:35px; /* border space of hand */
	font-size: 15px;
	font-weight: bold; 
	border-radius: 30px;
	border: solid 3px black;
	position: absolute; /*to overlap elements*/
	background-color: white;
}


.make-move:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hand{
	width: 1370px;
	position: absolute; 
	top:64%;
	left: 38%;
	margin: 0 0 0 -700px; /* right = -700px */
	border: solid 3px black;
	border-radius:20px;
	height: 300px;
	background-color:rgba(128,128,128,0.3);



}


@media (max-width: 1900px) {
.hand{
left: 60%;

	}	
}


.hand .card{
	width:150px;
	height: 230px;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: solid 3px black;
	position: absolute;
	
	
	/*only card picture (default: backside)*/
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;

}

 .hand .card:hover {
    transform: translateY(-20px);
 }



.pointStackTitle{
	width:150px;
	height: 43px;
	top:820px;
	right: 7cm;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: solid 3px black;
	position: absolute;
	background-color: white;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
}

@media (max-width: 1900px) {
 .pointStackTitle{
top:590px;
	}
}

.pointStack{
	width:150px;
	height: 230px;
	top:570px;
	right: 7cm;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: solid 3px black;
	position: absolute;
	
	/*only card backside picture*/
	background-image: url("/image/backside_cards.png");
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
 	
}

@media (max-width: 1900px) {
 .pointStack{
top:340px;
	}
}

.depositStack{
	width:150px;
	height: 230px;
	top:570px;
	right: 2cm;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: solid 3px black;
	position: absolute;
	
	/*only card backside picture*/
	background-image: url("/image/backside_cards.png");
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
}

@media (max-width: 1900px) {
 .depositStack{
top:340px;
	}
}

.depositStackTitle{
	width:150px;
	height: 43px;
	top:820px;
	right: 2cm;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: solid 3px black;
	position: absolute;
	background-color: white;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
}

@media (max-width: 1900px) {
 .depositStackTitle{
top:590px;
	}
}

.exitBtn {
	position: absolute;
	top: 1000px;
	right: 4.3cm;
	width:220px;
	height: 70px;
	font-size: 18px;
	font-weight: bold; 
	
	border-radius: 50px;
	border: solid 3px black;
	
	color: white;
	background-color: #c0392b;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 1900px) {
 .exitBtn{
top:1050px;
left: 50%;

	}
}

.exitBtn:hover{
	  box-shadow: none;
	  cursor: pointer;
}

.deck{
	width:150px;
	height: 230px;
	top:100px;
	right: 2cm;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: solid 3px black;
	position: absolute;
	
	/*only card backside picture*/
	background-image: url("/image/backside_cards.png");
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
}

@media (max-width: 1900px) {
 .deck{
top:10px;
	}
}

.deckTitle{
	width:150px;
	height: 43px;
	top:350px;
	right: 2cm;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: solid 3px black;
	position: absolute;
	background-color: white;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
}

@media (max-width: 1900px) {
 .deckTitle{
top:255px;
	}
}

.revealedCard{
	width:150px;
	height: 230px;
	top:100px;
	right: 7cm;
	margin:35px; /* border space of hand */
	border-radius: 10px;
	border: dashed 3px black;
	position: absolute;
	background-color: grey;

}

@media (max-width: 1900px) {
 .revealedCard{
top:10px;
	}
}

.oponentsCard{
	width:220px;
	height: 340px;
	position: fixed; 
	border-radius: 10px;
	border: solid 3px black;
	background-color: grey;	
	
	top:100px;
	left:40%; 
	margin: 0 0 0 0px;
}

@media (max-width: 1600px) {
 .oponentsCard{
top:40px;
left: 35%;

	}
}

.oponentsCardTitle{
	width:220px;
	height: 43px;
	top:470px;
	left:40%;
	border-radius: 10px;
	border: solid 3px black;
	position: fixed;
	background-color: white;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
}

@media (max-width: 1600px) {
 .oponentsCardTitle{
top:411px;
left: 35%;

	}
}













