/*	author: Hanna Kropf */
		
body {
 	background-image: linear-gradient(135deg, #008080 20%,#a0522d 60% ,#9400d3 100%);
 	background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	font-family: Century Gothic, Verdana, sans-serif;
	}
		
		
.lobby-area {
	background: #FFFFFF;
	box-shadow: 0 0 20px 6px #090b6f85;
	width: 2200px;
	height: 95vh;
	padding: 0;
	margin: 0 auto; /* 0 = top & bottom, auto = horizontal center */
	border-radius: 10px;
	overflow: hidden; /* specifies what happens when content overflows the box (content would be invisible)*/
	display: flex; /* Positioning "right" & "left" in a row with same height */
	flex: 1 1 100%; /* allows lobby-area to grow (proportion 1), shrink (proportion 1) if necessary & 100% default size (regardless content) */
	align-items: stretch; /* stretch to fill the lobby-area */	
	}
	
@media (max-width: 1590px) {
.lobby-area {
flex-flow: wrap;
	}
}

		
.containerLeft   {
background-color: #44b09e;
background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
	width: 733px;
	height: 95vh;
	display: inline-block;
	text-align:center;
	overflow: hidden; 
	padding: 40px;

			
		}
		
.containerLeft h3 {
	margin-top:110px;	
	font-size: 3vh;
  	font-family: Century Gothic, Verdana, sans-serif;
  	letter-spacing: 3px;
		}

.containerLeft table {
	background-color: white;
	margin-top:90px;	
	width:100%;
	border-collapse:separate;
    border:solid black 1px;
    border-radius:25px;
    border-width: 3px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

	
.containerLeft td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
    height: 60px;
    word-break:break-all; /*Breaks content*/
}

.containerLeft th {
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

#rangId{
	width:100px;
	font-weight: bold;
}

#username{
	width:450px;
}

#score{
	width:140px;
}

.containerMiddle {
background-color: #48dbfb;
background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);

	width: 733px;
	height: 95vh;
	display: inline-block;
	text-align:center;
	overflow: hidden; 
	padding: 40px;
  			
		}

.containerMiddle h3 {
	margin-top:110px;	
	font-size: 3vh;
  	font-family: Century Gothic, Verdana, sans-serif;
  	 letter-spacing: 3px;
  
		}

.containerMiddle .button1 {
	top: 50px;
	left: 50px;
	text-align: center;
	transition: all 0.5s;
	position: relative;	
}

.containerMiddle .button2 {
	top: -20px;
	left: 400px;
	text-align: center;
	transition: all 0.5s;
	position: relative;	
}

.containerMiddle .button3 {
	top: 80px;
	left: 50px;
	text-align: center;
	transition: all 0.5s;
	position: relative;	
}

.containerMiddle .button4 {
	top: 10px;
	left: 400px;
	text-align: center;
	transition: all 0.5s;
	position: relative;	
}

.containerMiddle .button5 {
	top: 90px;
	left: 240px;
	text-align: center;
	transition: all 0.5s;
	position: relative;	
}

.containerMiddle .btn {
	line-height: 25px;
	height: 70px;
	width: 230px;
	cursor: pointer;
}

.containerMiddle .btn span {
	z-index: 2;	
	position: relative;
	top: 7px;
	left:3px;
	width: 100%;
	height: 100%;
	font-weight: bold;	
	font-size: 14px;

}

/*right bar*/
.containerMiddle .btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 3px solid black;
	border-radius: 40px; 
	background-color: #D3D3D4;
	opacity: 0.4;
}

/*left bar*/
.containerMiddle .btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 3px solid black;
	border-radius: 40px;
	background-color: #D3D3D4;
	opacity: 0.4;
}
.containerMiddle .btn:hover::before {
  transform: rotate(-30deg);
  background-color: rgba(255,255,255,0);
}
.containerMiddle .btn:hover::after {
  transform: rotate(30deg);
  background-color: rgba(255,255,255,0);
}
		
.containerRight {
background-color: #44b09e;
background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
	width: 600px;
	height: 95vh;
	display: inline-block;
	text-align:center;
	overflow: hidden; 
	padding: 40px;
			
			}
			
.containerRight h3{
	position: relative;
	top:220px;	
	font-size: 4vh;
	font-weight: bold;
  	font-family: Century Gothic, Verdana, sans-serif;
  	 letter-spacing: 3px;
}



.containerRight  nav li{
	display: inline;
	list-style-type: none;
	float: right;
	position: relative;
	top:10px;
	right:500px;
}

.containerRight  nav a{
	color: black;
}

.containerRight  nav a:hover{
	color: gray;
}

li:not(:first-child)::after {
    content: '|';
    padding: 10px;
} 


.containerRight .menuBtn{
	background-image:url("/image/settings-icon.png");
	background-position: center;
 	background-size: 30px;;
  	background-repeat: no-repeat;  
 	height: 40px;
	width: 70px;
	border: 3px solid black;
	border-radius: 40px;
	position: relative;
	left: 290px;
}	

.containerRight	.menuBtn:hover, menuBtn:hover:focus{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	}


.containerRight	.settingButton{
	color: black;
  	font-size: 13px;
  	font-weight: bold; 
  	letter-spacing: 2px;
  	text-align:center;
	padding: 12px 35px;
	border-radius: 50px;
  	border: 2px solid black;
  	background-color: #D3D3D4;
  	width: 220px;
  	height: 70px;
  	display: block;
	margin:60px;
	position:relative;
	left:30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.containerRight	.settingButton:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}


.containerRight .modal{
	display:none;
	position: fixed;
	z-index: 2;
	left:55px;
	top:0;
	height:100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.4); /*behind modal*/
	
}

.modal-content{
	margin: 15% auto; /*window position (15% from the top and centered)*/
	padding: 20px;
	width: 16%;
	border: 1px solid #888;
	background-color:white; 
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.containerRight .close{
	color: #ccc;
	float: right;
	font-size: 30px;
	font-weight: bold;
}

.containerRight .close:hover,
.close:focus{
	color: #000;
	text-decoration:none;
	cursor: pointer;
}	

.containerRight .newGame{
	top: 400px;
	left: 140px;
	text-align: center;
	transition: all 0.5s;
	position: relative;	
}


.containerRight .btn {
	line-height: 25px;
	height: 70px;
	width: 290px;
	cursor: pointer;
}

.containerRight .btn span {
	z-index: 2;	
	position: relative;
	top: 7px;
	left:3px;
	width: 100%;
	height: 100%;
	font-weight: bold;	
	font-size: 14px;

}

/*right bar*/
.containerRight .btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 3px solid black;
	border-radius: 40px; 
	background-color: #D3D3D4;
	opacity: 0.4;
}

/*left bar*/
.containerRight .btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 3px solid black;
	border-radius: 40px;
	background-color: #D3D3D4;
	opacity: 0.4;
}
.containerRight .btn:hover::before {
  transform: rotate(-30deg);
  background-color: rgba(255,255,255,0);
}
.containerRight .btn:hover::after {
  transform: rotate(30deg);
  background-color: rgba(255,255,255,0);
}




		

	
	

		

		