/*author: Valentina Caldana
Responsive in Chrome for Windows (Browser zoom =< 80% )

source: https://www.codehim.com/collections/login-page-in-html-with-css-code/#google_vignette */
	

html{
	overflow-x: hidden;
	/* no scroll from left to right*/
}

body {
  background-image: linear-gradient(135deg, #008080 20%,#a0522d 60% ,#9400d3 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 1000px;

}

.reset-area {
  margin: 0 auto; /* 0 = top & bottom, auto = horizontal center */
  width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden; 
  display: flex; /* Positioning "right" & "left" in a row with same height */
  flex: 1 1 100%; /* allows login-area to grow (proportion 1), shrink (proportion 1) if necessary & 100% default size (regardless content) */
  align-items: stretch; /* stretch to fill the login-area */
  box-shadow: 0 0 20px 6px #090b6f85;
}


@media (max-width: 1900px) {
.reset-area {
flex-flow: wrap;
justify-content: center;
	}
}

.reset-area .left {
  background-image: url("/image/claim-background-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
  width: 100%;
  height: 90vh; /* Höhe Viewport */
  overflow: hidden; 
}

.reset-area .right {
  font-family: Century Gothic, Verdana, sans-serif;
  padding: 40px;
  overflow: hidden;
  width: 40%;

}

@media (max-width: 1900px) {
.reset-area .right {
    width: 100%;

  
    
  }
}

.reset-area .right nav li{
	display: inline;
	list-style-type: none;
	float: right;
}

.reset-area .right nav a{
	color: black;
}

.reset-area .right nav a:hover{
	color: gray;
}

li:not(:first-child)::after {
    content: '|';
    padding: 10px;
} 

.reset-area .right h5 {
  font-size: 6vh;
  font-family: Century Gothic, Verdana, sans-serif;
}


.reset-area .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none; /*outline = like a border around the element*/
  border-bottom: 2px solid #B0B3B9;
}

.reset-area .right .buttons{
	align-items: center;
  	margin: 30px auto;
  	display: flex;
  	justify-content: space-between;
}

.reset-area .right .btn {
  color: #fff;
  font-size: 20px;
  font-family: Century Gothic, Verdana, sans-serif;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  background-color: gray;
  width: 180px;
  
}

.reset-area .right .btn:hover{
	 background-color: white;
  	 color: black;
  	 border: solid;
}



