/*	authors: Valentina Caldana
	source: https://www.codehim.com/collections/login-page-in-html-with-css-code/#google_vignette */
	
	@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

html{
	overflow-x: hidden;
	/* no scroll from left to right*/
}
body {
  background-image: linear-gradient(135deg, #008080 20%,#a0522d 60% ,#9400d3 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 1050px;
 
}

.registration-area {
  margin: 0 auto; /* 0 = top & bottom, auto = horizontal center */
  width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden; /* specifies what happens when content overflows the box (content would be invisible)*/
  display: flex; /* Positioning "right" & "left" in a row with same height */
  flex: 1 1 100%; /* allows login-area to grow (proportion 1), shrink (proportion 1) if necessary & 100% default size (regardless content) */
  align-items: stretch; /* stretch to fill the login-area */
  box-shadow: 0 0 20px 6px #090b6f85;
}


@media (max-width: 1810px) {
.registration-area {
flex-flow: wrap;
justify-content: center;
	}
}


.registration-area .left {
  background-image: url("/image/claim-background-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
  width: 100%;
  height: 90vh;
  overflow: hidden; 
}

.registration-area .right {
  font-family: Century Gothic, Verdana, sans-serif;
  padding: 40px;
  overflow: hidden;
  width: 40%;
}

/*when resize the browser (e. g. make smaller)*/
@media (max-width: 1810px) {
  .registration-area .right {
    width: 100%;
    height: 75vh;
  }
}

.registration-area .right h5 {
  font-size: 7vh;
  font-family: Century Gothic, Verdana, sans-serif;
  margin-top: 40px;
  margin-bottom: 30px;
}

/*refers to container*/
.registration-area .right .inputs input{
  overflow: hidden;
  width: 95%;
  padding: 10px; /* Space between inputFields - between lines*/
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none; /*outline = like a border around the element*/
  border-bottom: 2px solid #B0B3B9;
}


.registration-area .right .buttons{
	align-items: center;
	display: flex;
  	justify-content: space-between;
  	margin: 0 auto;
  	position: relative;
  	top: 35px;
  	
 
}

.registration-area .right .btn {
 color: #fff;
  font-size: 20px;
  font-family: Century Gothic, Verdana, sans-serif;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  background-color: gray;
  width: 180px;
  
}


.registration-area .right .btn:hover{
	 background-color: white;
  	 color: black;
  	 border: 2px solid;
}

/*Author Lorenzo Antelmi*/

.registration-area .right .captcha{
	background-image: url("/image/captcha.png");
	background-size: 325px 70px;
	background-repeat: no-repeat;
	height: 100px;
	position: relative;
	top: 33px;
	opacity: 0.95;
}

@media (max-width: 1810px) {
.registration-area .right .captcha {
	background-size: 650px 70px;
	}
}

.registration-area .right .captcha .captchaField {
  overflow: hidden;
  width: 95%;
  padding: 9px; /*space between text and border of inputField*/
  font-size: 16px;
  border: none;
  outline: none; /*outline = like a border around the element*/
  border-bottom: 2px solid #B0B3B9;
  position:relative;
  top: 87px;
}


.registration-area .right .captcha .reload-btn {
	background-image:url("/image/reload-icon.png");
	background-position: center;
 	background-size: 15px;
  	background-repeat: no-repeat;  
	height:50px;
	width: 50px ;
	border: 2px solid black;
	border-radius: 50%;
	background-color: gray;	
	position: absolute;
	right: 10px;
	top: 11px;

}

@media (max-width: 1810px) {
.registration-area .right .captcha .reload-btn  {
	right: 0px;
	left: 700px;
	}
}


.registration-area .right .captcha .reload-btn:hover{
	 background-color: white;
  	 color: black;
  	 border: solid;
  	 cursor: pointer;
}

#captchaText{
 	position: absolute;
 	letter-spacing: 17px;
 	left: 15px;
 	font-family: 'Rubik Glitch', cursive;
 	font-size: 25px;
}

@media (max-width: 1810px) {
#captchaText {
	letter-spacing: 45px;
	}
}

.status-text {
	display: none;
	color: #ff0000;
	position:relative;
  	top: 87px;
}

.error {
	display: none;
	color: #ff0000;
}


