<!DOCTYPE html>
<!--authors: Valentina Caldana & Rocco Saracino
	source: https://www.codehim.com/collections/login-page-in-html-with-css-code/#google_vignette -->
	
<html lang="EN" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Registration Claim</title>
  <link rel="stylesheet" type="text/css" href="/css/registration_stylesheet.css"/>
</head>

<body>

<div class="registration-area"> <!-- container for registration-area -->
	
	<div class="left">
	<!-- Container for registration-area (left) -->
	</div>
	
		<div class="right">
		<h5>Registration</h5>
		
		<div class="inputs">
			<input type="text" placeholder="USERNAME">
			<br>
			<input type="text" placeholder="BIRTH DATE">
			<br>
			<input type="email" placeholder="E-MAIL">
			<br>
			<input type="email" placeholder="CONFIRM E-MAIL">
			<br>
			<input type="password" placeholder="PASSWORD">
			<br>
			<input type="password" placeholder="CONFIRM PASSWORD">
		</div>
			
			<br><br><br>
			
		<div class="buttons">
			<button>Cancel</button>
			<button>Confirm</button>
		</div>	
	</div>
</div>
  
</body>
</html>
