<!DOCTYPE html>
<!--authors: Valentina Caldana & Rocco Saracino
	source: https://www.codehim.com/collections/login-page-in-html-with-css-code/#google_vignette -->
	
<html lang="DE" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Registration Claim</title>
  <link rel="stylesheet" type="text/css" href="/css/registration_stylesheet.css"/>
</head>

<body>

<div class="registration-area"> <!-- container for registration-area -->
	
	<div class="left">
	<!-- Container for registration-area (left) -->
	</div>
	
		<div class="right">
		<h5>Registration</h5>
		
		<form>
		<div class="inputs">
			<input type="text" placeholder="BENUTZERNAME">
			<br>
			<input type="text" placeholder="GEBURTSDATUM">
			<br>
			<input type="email" placeholder="E-MAIL">
			<br>
			<input type="email" placeholder="E-MAIL BESTÄTIGEN">
			<br>
			<input type="password" placeholder="PASSWORT">
			<br>
			<input type="password" placeholder="PASSWORT BESTÄTIGEN">
		</div>
			
			<br><br><br>
			
		<div class="buttons">
			<button>Abbrechen</button>
			<button>Bestätigen</button>
		</div>	
		</form>
	</div>
</div>
  
</body>
</html>
